body {
      background-color: black; 
      border: rgb(78, 78, 78); 
      border-radius: 10pt;
}

main {
    max-width: 500px;
    align-content: center;
    
}

li {
    display: inline;
    padding: 0pt 30pt;
}

header {  
    background-color: rgb(8, 8, 8); 
    align-self: center;
}
h1 { 
    color: white; 
    text-align: center;
}

h3 { 
    color: teal; 
    text-align: center;
}

nav { 
    color: yellow; 
    text-align: center;
}

#section1 { 
    align-content: center; 
    color: white; 
    text-align: center; 
}

#section2 {
    align-content: center; 
    color: white; 
    text-align: center;          
}

section {
    background-color: rgb(8, 8, 8);
}

.picture {
    max-height: 300px;
}

.seal {
    max-width: 300px;
}

footer {
    color: white;
    text-align: center;
    align-content: center;
}